@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Leave Management System</h1>
    <h3>Build using ASP.NET Core 6 / 7, Entity Framework, Code-First, and the Repository Pattern.</h3>
    <strong>Build A Strong Foundation in .NET Core Programming:</strong>
    <hr />
    <p class="text-start">
        <span>
            Build a Data Driven .NET Core MVC Application <br />
            <br />
            &bull;&nbsp; Connect to a Database using Entity Framework Core - Code First Pattern and Migrations <br />
            &bull;&nbsp; Repository and Unit Of Work Pattern and Dependency Injection <br />
            &bull;&nbsp; Understand how the MVC (Models, Views, and Controllers) Pattern works <br />
            &bull;&nbsp; Understand C# and .NET Core Web Syntax <br />
            &bull;&nbsp; Understand user Authentication and Implement Authentication and Authorization functionality using ASP.NET Core Identity <br />
            &bull;&nbsp; Implement Email Services <br />
            &bull;&nbsp; Asynchronous Programming <br />
            &bull;&nbsp; Understand how to use Entity Framework Core Data Models, View Models and AutoMapper <br />
            &bull;&nbsp; Understand Security measures in the development <br />
            &bull;&nbsp; Use Bootstrap and JQuery to style and manipulate the overall layout <br />
            &bull;&nbsp; Manage Packages with NuGet Manager <br />
            &bull;&nbsp; Implement Website Layout using a Third-Party Admin Theme <br />
            &bull;&nbsp; Manage and Track Changes using GitHub <br />
            &bull;&nbsp; Setup IIS Server <br />
            &bull;&nbsp; Setup Microsoft Azure Account <br />
            &bull;&nbsp; Setup Automated Build/Release Pipeline using GitHub and Azure DevOps
            &bull;&nbsp; Publish .NET Core Application to IIS <br />
            &bull;&nbsp; Publish .NET Core Application to Microsoft Azure App Services <br />
        </span>
    </p>
</div>
